<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="alternate icon" type="image/png" sizes="32x32" href="/static/favicon.ico" />
</head>
<body>
<b>{{ message }}</b>
</body>
</html>